:root {
  --primary-text-color: white;
  --secondary-text-color: #000000;
  --main-background-color: #282c34;
  --button-color: #74a9de;
  --button-hover-color: #4572a0;
  --button-active-color: #254c73;
}
.Wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  right: 0px;
  background-color: red;
}
.App {
  min-height: 100vh;
  text-align: center;
  color: var(--primary-text-color);
  background-color:var(--main-background-color);
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.App-header {
  font-size: calc(10px + 2vmin);
}

.Difficulty-selector {
  display: flex;
  flex-direction: column;
  min-width: 256px;
  min-height: 64px;
  width: 30%;
}

.Number-of-players-selector {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.Number-of-players-button {
  align-items: center;
  background-clip: padding-box;
  background-color: var(--button-color);
  border: 1px solid transparent;
  border-radius: .25rem;
  color: var(--secondary-text-color);
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.Number-of-players-button:hover,
.Number-of-players-button:focus,
.Number-of-players-button:disabled {
  background-color: var(--button-hover-color);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.Number-of-players-button:hover {
  transform: translateY(-1px);
}

.Number-of-players-button:active {
  background-color: var(--button-active-color);
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}


.Playing-cards-selector {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.width-separator {
  width: 8px;
}

.Generate-tasks-button {
  align-items: center;
  background-clip: padding-box;
  background-color: var(--button-color);
  border: 1px solid transparent;
  border-radius: .25rem;
  color: var(--secondary-text-color);
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.Generate-tasks-button:hover,
.Generate-tasks-button:focus{
  background-color: var(--button-hover-color);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.Generate-tasks-button:hover {
  transform: translateY(-1px);
}

.Generate-tasks-button:active {
  background-color: var(--button-active-color);
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}


body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(0,0,0,0.1);
}

.Instuctions-card {
  position: absolute;
  width: max-content;
  height: max-content;
  background-color: white;
  position: relative;
  border-radius: 6px;
}

.Instuctions-card > label {
  cursor: pointer;
}

.Instuctions-card > h1 {
  margin: 15px;
}

.Instuctions-card > p {
  margin: 15px;
}

.hint {
  height: 30px;
  width: 30px;
  color: white;
  background-color: var(--button-color);
  border-radius: 15px;
  position: absolute;
  right: 8px;
  top: 8px;
  transition: .2s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
}

.hint > span {
  position: absolute;
  top: 7px;
  right: 12px;
}

.hint > p {
  overflow: hidden;
  max-height: 0px;
  transition-delay: 0.2s;
}

#hint-click:checked + .hint {
  height: calc(100% - 16px);
  width: calc(100% - 16px);
}

#hint-click:checked + .hint > p {
  max-height: 999px;
} 

.hidden-checkbox {
  display: none;
}